.css-1vy8li4 a {
  text-decoration: none;
  color: var(--secondary-color);
  padding: 10px 0px;
  border-bottom: 2px solid transparent;
  transition: 0.4s;
}
* {
  font-family: poppins !important;
}
.css-1vy8li4 a:hover {
  color: var(--primary-color);
}
.css-6hp17o-MuiList-root-MuiMenu-list li {
  color: var(--secondary-color);
}
